<h2> Search for Recipes by Ingredients</h2>
<ul>
  <li>Your Ingredients: {{ names|lowercase }} </li>
</ul>
<br>
<input type="text" [(ngModel)]="names">
<br>
<br>
<button (click)="nameLoad()">Search Recipes</button>

<ul class="recipes" *ngFor="let recipe of recipesList; let i = index">
  <div *ngIf="recipesList?.length > 0">
    <h3>{{recipe.title}}</h3>
    <mat-checkbox unchecked="true" (change)="onCheckboxChagen($event, recipe, i)">{{recipe.title}}</mat-checkbox><img [src]="recipe.image" />
    <h4>Missing Ingredients: {{recipe.missedIngredientCount}}</h4>
    <article *ngFor="let missed of recipe.missedIngredients">
      <li>{{objectKeys(missed)}}</li>
    </article>
    <hr>
  </div>
</ul>
<br>
<button (click)="saveFaveRecipes()">Save Favorites</button>