<div class="container">
  <div class="jumbotron">
    <h3>
      Try out our Recipe of the Day..!!
    </h3>

    <div *ngIf="randRecipeList">
      <p>Recipe Title: {{ randRecipeList[0][0].title}}</p>
      <p>Preparation Time: {{ randRecipeList[0][0].readyInMinutes}}</p>
      <p>Serving Size: {{ randRecipeList[0][0].servings}}</p>
      <p>Instructions: {{ randRecipeList[0][0].instructions}}</p>
      <p> <img src="image.png"/></p>

    </div>

    <button (click)="loadRandomRecipes()">Load Recipe of the Day</button>
  </div>
  <hr>
  <app-jacky-view></app-jacky-view>
</div>