
button.btn-submit{
    background-color: goldenrod;
    color:black;
    width: 10%
}

button.btn-submit:focus, button.btn-submit:hover{
    background-color: #38547b;
}

input.ng.invalid.ng-dirty{
    border-bottom-color: #e91e63;
}
