<div class="container">
    <div class="jumbotron">
      <h3 style="text-align:center">User Registration Form</h3>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(u)" ngNativeValidate>
        <span class="help-block" *ngIf= "u.ErrorText!=''">
            {{u.ErrorText}}
         </span>
         <br>
      <div class="row">
          <div class="col-sm-6">
            <div class="form-group" [class.has-error]="fnameControl.invalid">
              <label for="fname" class="control-label">First Name :</label><br>
              <input type="text" id="fname" name="fname" placeholder="firstname" #fnameControl="ngModel" [(ngModel)]="u.firstname" required /><br>
                <span class="help-block" *ngIf= "fnameControl.invalid">
                   required field!
                </span>
                
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group" [class.has-error]="lnameControl.invalid">
              <label for= "lname" class="control-label">Last Name :</label><br>
              <input type="text" id="lname" name="lname" placeholder="lastname" #lnameControl="ngModel" [(ngModel)]="u.lastname" required /><br>
                <span class="help-block" *ngIf= "lnameControl.invalid">
                  required field!
                </span>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group" [class.has-error]="emailControl.invalid">
              <label for= "email" class="control-label">Email :</label><br>
              <input type="email" pattern=".+@*.com" id="email" name="email" placeholder="email" #emailControl="ngModel" [(ngModel)]="u.email" required /><br>
                <span class="help-block" *ngIf= "emailControl.invalid">
                  required field!
                </span>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group" [class.has-error]="ageControl.invalid">
              <label for= "age" class="control-label">Age :</label><br>
              <input type="number" id="age" name="age" min="10" max="110" #ageControl="ngModel" [(ngModel)]="u.age" required /><br>
              <span class="help-block" *ngIf= "ageControl.invalid">
                required field!
                </span>
              </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group" [class.has-error]="usernameControl.invalid">
              <label for= "username" class="control-label">Username* :</label><br>
              <input type="text" id="username" name="username" placeholder="username" #usernameControl="ngModel"
            [(ngModel)]="u.username" required /><br>
                <span class="help-block" *ngIf= "usernameControl.invalid">
                required field!
                </span>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group" [class.has-error]="passwordControl.invalid">
              <label for= "password" class="control-label">password* :</label><br>
              <input type="password" id="password" name="password" placeholder="password" #passwordControl="ngModel"
            [(ngModel)]="u.password" required /><br>
                <span class="help-block" *ngIf= "passwordControl.invalid">
                required field!
                </span>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <input type="checkbox" id="checkAgree" value="check" required />
            <label>Agree to Join</label>
          </div>
          <br>
          <div class="col-sm-12">
          <button type="submit" class="btn-large btn-submit"
            > Submit</button>

          </div>
          <!--Employee Object : {{u|json}}-->
      </div>
    </form>
  </div>
  