<p class="text-xl-left"></p>
<p class="text-center"><ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Registration</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-user-register></app-user-register>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div> -->
</ng-template>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Registration</button>

<ng-template #contenta let-modal>
  <!-- <div class="modal-header"> -->
    <!-- <h4 class="modal-title">Login</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  <!-- </div> -->
  <div class="modal-body">
    <app-maressa-view></app-maressa-view>
  </div>
</ng-template>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentereda(contenta)">Login</button>
</p>

<p class="text-xl-center">People need to be, but how can they possibly when there isn’t a service allowing them to search for recipes by ingredients and store their favorites? Our project, by utilizing a Recipe API, strives to provide the solution to this problem. Through Profiles of their very own, Users will have at their fingertips a wealth of recipes to their specification.
</p>